name: mandarin_sprint
description: "Mandarin Sprint is a cross-platform mobile application built with Flutter, designed to help beginners learn the fundamentals of Mandarin Chinese in just 30 days. The app follows a structured, day-by-day curriculum that makes learning manageable and effective."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_tts: ^4.0.2
  shared_preferences: ^2.2.3
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.13.1

dependency_overrides:
  meta: ^1.18.1

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon.png"
  remove_alpha_ios: true

flutter:
  uses-material-design: true
  assets:
    - assets/data/
    - assets/icon.png
